absl-py==0.13.0
addict==2.4.0
astunparse==1.6.3
attrs==20.3.0
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.4
filelock==3.6.0
flatbuffers==1.12
freetype-py==2.2.0
gast==0.4.0
google-auth==1.32.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.10
imageio==2.9.0
imantics==0.1.12
imgaug==0.4.0
imutils==0.5.4
joblib==1.1.0
jsonschema==3.2.0
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
labelme2coco==0.1.2
libclang==12.0.0
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.3.3
mediapipe==0.8.9.1
networkx==2.5
numpy==1.22.0
oauthlib==3.1.1
open3d==0.15.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging @ file:///private/tmp/sip--packaging-20220416-83003-1hqovwb/packaging-21.3
pandas==1.3.1
Pillow==9.0.1
pixellib==0.6.6
platformdirs==2.5.2
ply==3.11
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.2
pyglet==1.5.15
pymeshlab==2021.7
PyOpenGL==3.1.0
pyparsing==2.4.7
pypng==0.0.20
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.2.0
PyQt6-3D==6.2.0
PyQt6-Charts==6.2.0
PyQt6-DataVisualization==6.2.0
PyQt6-NetworkAuth==6.2.0
PyQt6-sip==13.1.0
PyQt6-WebEngine==6.2.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyquaternion==0.9.9
pyrender==0.1.45
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==6.0
requests==2.25.1
requests-oauthlib==1.3.0
rhino3dm==7.15.0
rsa==4.7.2
scikit-image==0.18.2
scikit-learn==1.0.2
scipy==1.5.4
Shapely==1.7.1
sip==6.6.1
six==1.15.0
soupsieve==2.2.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2020.12.4
toml==0.10.2
tqdm==4.63.0
trimesh==3.9.10
typing-extensions==3.7.4.3
urllib3==1.26.6
virtualenv==20.14.1
websockets==10.2
Werkzeug==2.0.1
wrapt==1.12.1
xmljson==0.2.1
